<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Customer Directory</h3>
    <hr>
    <!--Add New Customer Button-->
    <a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3">
        New Customer
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Phone Number</th>
            <th> Email</th>
            <th> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="singleCustomer : ${customers}">
            <td th:text="${singleCustomer.firstName}"/>
            <td th:text="${singleCustomer.lastName}"/>
            <td th:text="${singleCustomer.phoneNumber}"/>
            <td th:text="${singleCustomer.email}"/>
            <td>
                <a th:href="@{/customers/update(id=${singleCustomer.customerId})}" class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/customers/delete(id=${singleCustomer.customerId})}"
                   class="btn btn-danger btn-sm"
                   onClick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>