<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form action="#" th:action="@{/customers/{id}/update(id=${customer.customerId})}" th:object="${customer}"  method="POST">


        <!--        action="/customers/save"method="POST"-->

        <input type="text" id="firstName" placeholder="First Name" th:field="${customer.firstName}">
        <input type="text" id="lastName" placeholder="Last Name" th:field="${customer.lastName}">
        <input type="text" id="phoneNumber" placeholder="Phone Number" th:field="${customer.phoneNumber}">
        <input type="text" id="email" placeholder="Email Address" th:field="${customer.email}">

        <select id="hairColor" th:field="${customer.hairColor}">
            <option th:value="35"> Brown</option>
            <option th:value="36"> Blonde</option>
            <option th:value="37"> Dark</option>
        </select>

        <select id="employeesList" th:field="*{employees}" multiple="multiple">
            <option th:each = "employee : ${allEmployees}"
                    th:value = "${employee.employeeId}"
                    th:text = "${employee.firstName}">
            </option>
        </select>



        <button type="submit" id="submitBtn">Update Customer</button>
        <!--        th:onclick="addCustomer(${singleCustomer})"-->

    </form>
</div>

<script type="text/javascript" th:src="@{/js/customer.js}"></script>
</body>
</html>